
body{
  margin: 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: bolder;
  background: #EDF1F5;
}

body.dark{
  background: #18161b;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background:#2B2D42 ;
  padding-bottom: 100px;
  padding-top: 10px;
}

nav.dark{
  background:#1a1c25 ;
}

nav > img{
  height: 43px;
  margin: 10px;
  position: relative;
  left: 5.5%;
  padding-top: 10px;
}

.season > div{
  color:#B0B3D5
}

.season.dark > div{
  color:#fafbfc
}

.season.selected > div{
  color:#fafbfc
}

.season.dark.selected > div{
  color:hsl(188, 100%, 84%)
}

.seasons{
  display: flex;
  position: relative;
  left: 5%;
}

.season{
  margin-block: 35px;
  margin-inline: 31px;
  cursor: pointer;
}

.year-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-wrap >p{
  margin: 0px;
  font-size: 0.6rem;
}

.year-wrap >h1{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.top-icons{
  position: relative;
  right: 1.5%;
  display: flex;
  justify-content: flex-start;
  color:#B0B3D5
}

.top-icons.dark{
  color:#EDF1F5
}

.top-icon{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding-top: 24px;
  cursor: pointer;
  margin: 10px;
}

.top-icon.selected{
  color:#EDF1F5
}

.top-icons.dark > .top-icon.selected{
  color:hsl(188, 100%, 84%)
}


.top-icon > p{
  margin: 8px;
  margin-top: 8px;
  padding: 0px;
  font-size: 0.9rem;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  position: absolute;
  top:-50px;
}

.card{
  margin-inline: 40px;
  margin-bottom: 80px;
  display: flex;
  box-shadow: 0 4px 6px rgb(49 54 68 / 5%), 0 5px 20px rgb(49 54 68 / 8%);
  transition: box-shadow 0.5s;
  color: #5C728A;
}

.card.dark:hover{
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.05), 0 5px 20px rgb(49 54 68 / 8%);
}

.card:hover{
  box-shadow:0 4px 6px rgba(49,54,68,.09),0 10px 40px rgba(49,54,68,.3);
  transition: box-shadow 0.5s;
}

.card.dark:hover{
  box-shadow:0 4px 6px rgba(255, 255, 255, 0.09),0 10px 40px rgba(49,54,68,.3);
}

.card--left{
  position: relative;
  width: 185px;
  height: 265px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.main-container{
  display: flex;
  justify-content: center;
  position: relative;
}

.card--name-box{
  background:rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 7px;
}

.card--name-box > h1{
  color: #FFFFFF;
  font-size: 14px;
  margin: 5px;
  margin-left: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.card--name-box > p{
  color: #F09069;
  font-size: 12px;
  margin: 0px;
  margin-left: 15px;
  padding-bottom: 5px;
}

.card--img{
  border-radius: 7px;
  border-top-right-radius: 0px;
  min-width: 185px;
}

.card--right{
  width: 370px;
  background: #FFFFFF;
  height: 265px;
  text-overflow: ellipsis;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  position: relative;
}


.card--right.dark{
  background: #3c3c3c;
}

.top-info{
  display: flex;
  width: 300%;
  height:100px;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: margin 0.5s;
}

.first-info{
  width: 350px;
  margin-left: 0px;
  transition: margin 0.5s;
  display: flex;
}

.text{
  margin-right: auto;
}

.top-info:hover{
  margin-left: -350px;
}

.second-info{
  left: 10px;
  z-index: 5;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}

.text > h1{
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 3px;
  margin: 0px;
}


.text > p{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
  padding-top: 10px;
  margin-left: 0px;
}



.text > h2{
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0px;
}

.card--right.dark{
  color: #fafbfc;
}

.card--right > h3{
  overflow: hidden;
  font-size: 0.8rem;
  line-height: 1.6;
  margin: 0px;
  padding-top: 3px;
  margin-left: 20px;
  text-overflow:initial;
  height: 40%;
  width: 80%;
  max-height: 80px;
}

.rankings{
  display: flex;
  margin-right: 30px;
  margin: 10px;
  justify-content: flex-start;
  align-items:flex-start
}

.rankings > p{
  padding: 1px;
  margin: 0px;
  margin-left: 5px;
}

.category-box{
  height: 44px;
  position: absolute;
  bottom: 0px;
  background: #EFF7FB;
  width: 100%;
  display: flex;
  align-items: center;
}

.category-box.dark{
  background: #262626;
}

.genre{
  margin: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 0px;
  padding-block: 3px;
  text-align: center;
  border-radius: 15px;
  color:#EFF7FB
}

.dark-mode-wrap{
  position: absolute;
  right: 14%;
  top:150px;
  display: flex;
  align-items: center;
  color:#EDF1F5
}


.dark-mode-frame{
  margin-left: 10px;
  background:#5C728A;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position:relative;
  transition: 0.5s;
  cursor: pointer;
}

.dark-mode-frame.dark{
  background: #EDF1F5;
  transition: 0.5s;
}

.dark-mode--toggle{
  background-color: #EDF1F5;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  border:#312c66 1px solid;
  transition: all 0.5s;
  position: absolute;
  left:0px;
  transition: 0.5s;
}

.dark-mode--toggle.dark{
  transition: all 0.5s;
  left: 20px;
  background:#5C728A;
}


.hashtags{
  margin-right: auto;
  justify-content: flex-start;
  position: relative;
  display: inline;
}

.hashtags > p{
  width: 200px;
}

.hashtags > img{
  width: 110px;
}

.trailer-frame{
  height: 50px;
  margin-right: 20px;
}

.trailer-frame > img{
  height: 100%;
  border-radius: 10px;
}